image: node:20-alpine

definitions:
  caches:
    pnpm: $BITBUCKET_CLONE_DIR/.pnpm-store

pipelines:
  branches:
    main:
      - parallel:
          steps:
            - step:
                name: Biome
                runs-on:
                  - 'self.hosted'
                  - 'linux'
                script:
                  - corepack enable
                  - corepack prepare pnpm@latest-8 --activate
                  - CI=true pnpm install
                  - pnpm exec biome ci .
                caches:
                  - pnpm
            - step:
                name: Type check
                runs-on:
                  - 'self.hosted'
                  - 'linux'
                script:
                  - corepack enable
                  - corepack prepare pnpm@latest-8 --activate
                  - CI=true pnpm install
                  - pnpm exec tsc --noEmit
                caches:
                  - pnpm
      - step:
          name: Deploy UAT
          runs-on:
            - 'self.hosted'
            - 'linux'
          deployment: staging
          oidc: true
          services:
            - docker
          caches:
            - pnpm
            - docker
          script:
            - export AWS_REGION={{{region}}}
            - export AWS_ROLE_ARN={{{deployRoleArn}}}
            - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
            - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
            - cd cdk
            - corepack enable
            - corepack prepare pnpm@latest-8 --activate
            - pnpm install
            - pnpm build
            - DOCKER_BUILDKIT=1 pnpm exec cdk deploy --app dist/env-uat.js --require-approval never
      - step:
          name: Deploy production
          runs-on:
            - 'self.hosted'
            - 'linux'
          deployment: production
          trigger: manual
          oidc: true
          services:
            - docker
          caches:
            - pnpm
            - docker
          script:
            - export AWS_REGION={{{region}}}
            - export AWS_ROLE_ARN={{{deployRoleArn}}}
            - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
            - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
            - cd cdk
            - corepack enable
            - corepack prepare pnpm@latest-8 --activate
            - pnpm install
            - pnpm build
            - DOCKER_BUILDKIT=1 pnpm exec cdk deploy --app dist/env-prod.js --require-approval never
