# {{{apiName}}}

Koa API following [JSON:API](https://jsonapi.org/) 1.1 specification.

## Setup

- `pnpm install`
{{#if (has features "ssm")}}
- copy `ssm-config.json.dist` to `ssm-config.json`
{{/if}}
{{#if (has features "postgres")}}
- `docker compose up -d`
{{/if}}
- `pnpm start`
{{#if (has features "ssm")}}

## SSM parameters

This project comes with SSM preconfigured. You can set up your SSM keys with the following prefixes in AWS:

- `{{{apiName}}}/uat/*`
- `{{{apiName}}}/prod/*`

For local development, the file `ssm-config.json.dist` and `ssm-config.json` should reflect the same tree structure.
{{/if}}
{{#if (has features "ssm")}}

## Postgres

Use the MikroORM CLI to create and run migrations:

```bash
npm run mikro-orm help
```
{{/if}}
