import { fileURLToPath } from "url";
import { Duration, Stack, type StackProps } from "aws-cdk-lib";
import { Certificate } from "aws-cdk-lib/aws-certificatemanager";
import {
    type CfnVPCCidrBlock,
    InstanceClass,
    InstanceSize,
    InstanceType,
    IpAddresses,
    IpProtocol,
    Port,
    SubnetType,
    Vpc,
} from "aws-cdk-lib/aws-ec2";
import { DockerImageAsset } from "aws-cdk-lib/aws-ecr-assets";
import { Cluster, ContainerImage } from "aws-cdk-lib/aws-ecs";
import { ApplicationLoadBalancedFargateService } from "aws-cdk-lib/aws-ecs-patterns";
import { Role, ServicePrincipal } from "aws-cdk-lib/aws-iam";
import {
    AuroraPostgresEngineVersion,
    ClientPasswordAuthType,
    Credentials,
    DatabaseCluster,
    DatabaseClusterEngine,
    DatabaseProxy,
    ProxyTarget,
} from "aws-cdk-lib/aws-rds";
import { ClusterInstance } from "aws-cdk-lib/aws-rds";
import type { Construct } from "constructs";
import { AppConfig } from "./app-config.js";

type ApiStackProps = StackProps & {
    apiEnv: string;
    certificateArn: string;
};

export class ApiStack extends Stack {
    public constructor(scope: Construct, id: string, props: ApiStackProps) {
        super(scope, id, props);

        const vpc = new Vpc(this, "Vpc", {
            ipProtocol: IpProtocol.DUAL_STACK,
            natGateways: 0,
            maxAzs: 2,
        });

        // @see https://github.com/aws/aws-cdk/issues/28843
        const ipv6CidrBlock = vpc.node.findChild("ipv6cidr") as CfnVPCCidrBlock;

        for (const subnet of vpc.isolatedSubnets) {
            subnet.node.addDependency(ipv6CidrBlock);
        }

{{#if (has features "postgres")}}

        const databaseCluster = new DatabaseCluster(this, "Database", {
            vpc,
            vpcSubnets: { subnetType: SubnetType.PRIVATE_ISOLATED },
            engine: DatabaseClusterEngine.auroraPostgres({
                version: AuroraPostgresEngineVersion.VER_16_0,
            }),
            credentials: Credentials.fromGeneratedSecret("api"),
            writer: ClusterInstance.provisioned("DatabaseWriter", {
                instanceType: InstanceType.of(InstanceClass.BURSTABLE3, InstanceSize.MEDIUM),
                autoMinorVersionUpgrade: true,
                allowMajorVersionUpgrade: true,
            }),
            defaultDatabaseName: "api",
            backup: {
                retention: Duration.days(21),
                // 1am to 2am west coast, 4am to 5am east coast
                preferredWindow: '09:00-10:00',
            },
        });

        if (!databaseCluster.secret) {
            throw new Error("Database cluster has nio secret attached");
        }
{{/if}}
{{#if (has features "appconfig")}}

        const appConfig = new AppConfig(this, "AppConfig", {
            name: `{{{apiName}}}-${props.apiEnv}`,
        });
{{/if}}

        const cluster = new Cluster(this, "Cluster", {
            vpc,
        });

        const buildkitCachePath = process.env.BUILDKIT_CACHE_PATH;
        const asset = new DockerImageAsset(this, "App", {
            directory: fileURLToPath(new URL("../../", import.meta.url)),
            cacheTo: buildkitCachePath
                ? {
                      type: "local",
                      params: {
                          mode: "max",
                          "image-manifest": "true",
                          "oci-mediatypes": "true",
                          dest: buildkitCachePath,
                      },
                  }
                : undefined,
            cacheFrom: buildkitCachePath
                ? [
                      {
                          type: "local",
                          params: {
                              src: buildkitCachePath,
                          },
                      },
                  ]
                : undefined,
            outputs: ["type=docker"],
            exclude: ["cdk"],
        });

        const certificate = Certificate.fromCertificateArn(
            this,
            "Certificate",
            props.certificateArn,
        );

        const albService = new ApplicationLoadBalancedFargateService(this, "Service", {
            cluster,
            cpu: 512,
            memoryLimitMiB: 1024,
            taskImageOptions: {
                containerName: "app",
                containerPort: 80,
                image: ContainerImage.fromDockerImageAsset(asset),
                environment: {
                    PORT: "80",
{{#if (has features "postgres")}}
                    POSTGRES_HOSTNAME: databaseCluster.clusterEndpoint.hostname,
                    POSTGRES_PORT: databaseCluster.clusterEndpoint.port.toString(),
                    POSTGRES_SECRET: databaseCluster.secret.secretArn,
                    PGSSLMODE: "require",
{{/if}}
{{#if (has features "appconfig")}}
                    APPCONFIG_APPLICATION_IDENTIFIER: appConfig.applicationId,
                    APPCONFIG_ENVIRONMENT_IDENTIFIER: appConfig.environmentId,
                    APPCONFIG_CONFIGURATION_PROFILE_IDENTIFIER: appConfig.configurationProfileId,
{{/if}}
                },
            },
            certificate: certificate,
            // As long as there are 11 or less docker instances running in the VPC, assigning public IPs is cheaper
            // than assigning a NAT gateway. In a large project, consider moving the tasks into a private subnet with
            // egress instead and enable NAT gateway.
            taskSubnets: { subnetType: SubnetType.PUBLIC },
            assignPublicIp: true,
            publicLoadBalancer: true,
            healthCheckGracePeriod: Duration.seconds(10),
        });

{{#if (has features "postgres")}}
        albService.service.connections.allowToDefaultPort(databaseCluster.connections);
        databaseCluster.secret.grantRead(albService.taskDefinition.taskRole);
{{/if}}
{{#if (has features "appconfig")}}
        appConfig.grantRead(albService.taskDefinition.taskRole);
{{/if}}

        const serviceScaling = albService.service.autoScaleTaskCount({ maxCapacity: 10 });
        serviceScaling.scaleOnCpuUtilization("ScalingCpu", {
            targetUtilizationPercent: 60,
        });

        albService.targetGroup.setAttribute("deregistration_delay.timeout_seconds", "5");

        albService.targetGroup.configureHealthCheck({
            enabled: true,
            path: "/health",
        });
    }
}
